table.comBordaSimples {
  border-collapse: collapse; /* CSS2 */
  background: #FFFFF0;
}

table.comBordaSimples td {
  border: 1px solid black;
}

table.comBordaSimples th {
  border: 1px solid black;
  background: #F0FFF0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
