<section class="content-header">
  <h1>
    Lista de Residências
  </h1>
</section>


<section class="content">
    <table class="table-striped">
      <thead>
        <tr>
            <th><span>ID</span></th>
            <th>Matrícula</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>Cep</th>
            <th>Cidade</th>
            <th>UF</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let residencia of residencias | paginate: { itemsPerPage: contador, currentPage: pag }">
          <td class="textCenter">{{ residencia.id}}</td>
          <td class="textCenter">{{ residencia.matricula }}</td>
          <td>{{ residencia.endereco }}</td>
          <td class="textCenter">{{ residencia.numero }}</td>
          <td>{{ residencia.complemento }}</td>
          <td>{{ residencia.bairro }}</td>
          <td class="textCenter">{{ residencia.cep }}</td>
          <td>{{ residencia.cidade }}</td>
          <td class="textCenter">{{ residencia.uf }}</td>
        </tr>
      </tbody>
    </table>
    <!--inclindo o controle de paginação.-->
    <div style="padding: 20px;">
      <div class="text-right">
        <pagination-controls (pageChange)="pageChanged($event)"
          previousLabel="Anterior"
          nextLabel="Próximo"></pagination-controls>
      </div>
    </div>
</section>

