<section class="content-header">
  <h1>
    Lista de Residências
  </h1>
</section>


<section class="content">
    <table class="table table-bordered">
      <thead>
        <tr>
            <th><span>ID</span></th>
            <th>Matrícula</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>Cep</th>
            <th>Cidade</th>
            <th>UF</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let residencia of residencias | paginate: { itemsPerPage: contador, currentPage: pag }">
          <td>{{ residencia.id}}</td>
          <td>{{ residencia.matricula }}</td>
          <td>{{ residencia.endereco }}</td>
          <td>{{ residencia.numero }}</td>
          <td>{{ residencia.complemento }}</td>
          <td>{{ residencia.bairro }}</td>
          <td>{{ residencia.cep }}</td>
          <td>{{ residencia.cidade }}</td>
          <td>{{ residencia.uf }}</td>
        </tr>
      </tbody>
    </table>
    <!--inclindo o controle de paginação.-->
    <div class="text-right">
      <pagination-controls (pageChange)="pageChanged($event)" 
        previousLabel="Anterior"
        nextLabel="Próximo"></pagination-controls>
    </div>
</section>

